@import 'variables';
@import 'anmeldung';

@mixin navbarBoxMesuring {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  margin: 0 70px;
  @include navbarBoxMesuring();
  .nav {
    @include navbarBoxMesuring();
    .logo > img {
      width: 50px;
      margin-left: 80px;
    }
    .btn > button {
      width: 200px;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      @include borderStyle();
      border: none;
      box-shadow: none;
    }
    button:hover {
      transition: $hover;
      scale: calc(1.1);
      @include borderStyle();
    }
  }
}

@media screen and (max-width: 1130px) {
  .navbar {
    .nav {
      margin: 0 50px;
      width: 100vw;
      .logo > img {
        margin-left: 0px !important;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .navbar {
    height: 80px;
    display: flex;
    .nav {
      display: flex;
      justify-content: center;
      .logo > img {
        visibility: hidden;
      }
    }
  }
}
